html{
    background-color: bisque;
}

#facebook, #twitter{
    height: 40px;
}
body{
    display: grid;
}

header{
    display: grid;
    grid-template-columns: repeat(autio-fit, minmax(200px, 1fr));
    justify-items: center;
}

a{
    display: grid;
    justify-content: center;
}

div{
    display: grid;
    grid-template-columns: repeat(autio-fit, minmax(200px, 1fr));
    justify-content: center;
}
div > h1{
    display: grid;
    justify-self: center;
}

div > #bod{
    display: grid;
    justify-self: center;
}

footer{
    display: grid;
    grid-template-columns: repeat(autio-fit, minmax(200px, 1fr));
    justify-content: center;
}
footer > p{
    display: grid;
    justify-content: center;
}

div{
    display: grid;
    grid-template-columns: repeat(autio-fit, minmax(600px, 1fr));
    justify-content: center;
}
div > #bod, p{
    display: grid;
    grid-template-columns: repeat(autio-fit, minmax(300px, 1fr));
}

@media only screen and (min-width: 700px){
    body{
        grid-template-columns: 1fr 1fr;
    }
    body > h1{
        grid-column: 1/3;
    }
    body > img{
        grid-column: 1;
        grid-row: 2;
        align-self: center;
    }
    body > p{
        grid-column: 2;
    }

    footer{
        grid-template-columns: 1fr 1fr;
    }

    footer > nav{
        grid-column: 1/3;
    }
}